<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>График нажатий кнопок</title>
    <meta http-equiv="refresh" content="3">
    <!-- Подключаем шрифт Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        /* Применяем Roboto ко всем элементам */
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 20px;
        }
        
        /* Можно дополнительно стилизовать заголовки */
        h1, h2, h3 {
            font-weight: 500;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1>График нажатий кнопок</h1>

    <div>{{ graph|safe }}</div>

    {% if false_starters %}
        <h2 style="color: red;">Фальстарт: {{ false_starters | join(", ") }}</h2>
    {% else %}
        <h2 style="color: green;">Всё в порядке</h2>
    {% endif %}

    {% if winner %}
        <h2 style="color: rgb(0, 0, 0);">Финиш! Победитель: {{ winner }} (в {{ finish_time.strftime("%H:%M:%S.%f")[:-3] }})</h2>
    {% endif %}

    <h3>Скорость на участках (м/с):</h3>
    <ul>
        <li>Спортсмен 1: {{ speeds1 }}</li>
        <li>Спортсмен 2: {{ speeds2 }}</li>
    </ul>
</body>
</html>
